# Theme: BACKBONE
# Version 1.0
# Last Update: 01/17/2026
# License: CC-BY-SA 3.0
# By: Monica G.
# Description: BACKBONE is a spinoff of the minimalist BONES theme by Chuck Nardo! Some additions / modifications include:
# On the WPS, instead of track number, the playlist number is displayed / alternates with the time.
# Battery level is displayed on the WPS and bitrate is also shown plus more file types.
# Next song will display as the current track is ending.
# If a song is currently playing it is displayed on the SBS as well as play status.
# The menu title is displayed when navigating menus but will alternate to the time.
# Quick menu utilizes a smaller font and displays time / play status.
# A few lines are drawn in to add structure, but all icons remain unchanged.

## Config File ##

wps: /.rockbox/wps/BACKBONE.wps
sbs: /.rockbox/wps/BACKBONE.sbs
font: /.rockbox/fonts/15-ProFont.fnt
background color: 000000
foreground color: ffffff
statusbar: off
scrollbar: off
show icons: off
selector type: bar (inverse)
